.vue-horizontal-scroll-picker {
  position: relative;
  width: 100%;
  height: 3em;
  overflow: hidden;
  user-select: none;
}

.vue-horizontal-scroll-picker-rotator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(50% - 2em);
  display: flex;
  align-items: center;
  height: 100%;
}

.vue-horizontal-scroll-picker-rotator-transition {
  transition: left ease 150ms;
}

.vue-horizontal-scroll-picker-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: 100%;
  white-space: nowrap;
  color: #333;
  cursor: pointer; /* Add pointer cursor to indicate clickable */
}

.vue-horizontal-scroll-picker-item[aria-selected='true'] {
  color: #007bff;
}

.vue-horizontal-scroll-picker-item[data-value=''],
.vue-horizontal-scroll-picker-item[aria-disabled='true'] {
  color: #ccc;
  cursor: not-allowed;
}

.vue-horizontal-scroll-picker-item[data-value=''][aria-selected='true'],
.vue-horizontal-scroll-picker-item[aria-disabled='true'][aria-selected='true'] {
  color: #aaa;
}

.vue-horizontal-scroll-picker-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.vue-horizontal-scroll-picker-layer-left,
.vue-horizontal-scroll-picker-layer-selection,
.vue-horizontal-scroll-picker-layer-right {
  position: absolute;
  top: 0;
  bottom: 0;
}

.vue-horizontal-scroll-picker-layer-left {
  box-sizing: border-box;
  border-right: 1px solid #c8c7cc;
  background: linear-gradient(90deg, #fff 10%, rgba(255, 255, 255, .7));
  left: 0;
  width: calc(50% - 2em);
  cursor: pointer;
}

.vue-horizontal-scroll-picker-layer-selection {
  left: calc(50% - 2em);
  right: calc(50% - 2em);
}

.vue-horizontal-scroll-picker-layer-right {
  border-left: 1px solid #c8c7cc;
  background: linear-gradient(270deg, #fff 10%, rgba(255, 255, 255, .7));
  right: 0;
  width: calc(50% - 2em);
  cursor: pointer;
}